/* ****************************************************************************
NAVIGATION
**************************************************************************** */
.title-bar {
  background-color: #222;
  height: 60px;
  padding-top: 17px;
}

#mobile-menu {
  background-color: #222;
  padding: 10px;
}

#mobile-menu li {
  list-style: none;
}

#mobile-menu a {
  color: rgba(255, 255, 255, .6);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a:hover {
  color: rgba(255, 255, 255, .8);
}

.js-off-canvas-exit {
  background: rgba(0, 0, 0, .5);
}

/* ****************************************************************************
DESKTOP NAVIGATION
**************************************************************************** */
.nav-desktop {
  background-color: #222;
  height: 80px;
  padding: 0;
}

.site-logo {
  color: white;
  line-height: 80px;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}

.menu > li > a:hover {
  background-color: rgba(255, 255, 255, .1);
}

/* ****************************************************************************
MAIN SECTION (NOT NEEDED - ALREADY COVERED IN APP.SCSS)
**************************************************************************** */
.main {
  padding: 80px 0;
}

/* ****************************************************************************
FOOTER
**************************************************************************** */
 #footer {

   background-color: #0f0f11;
    border-top: 1px solid rgba(88,88,89,0.75);
    color: #f0f0f0;
    padding: 10px 0;
}

footer {
  background-color: #222;
  padding: 80px 0;
}

footer h4 {
  color: rgba(255, 255, 255, .8);
  font-size: 1.3em;
}

footer hr {
  border-color: rgba(255, 255, 255, .1);
  margin: 10px 0;
}

footer a {
  display: block;
  color: rgba(255, 255, 255, .6);
  font-size: .8em;
}

footer a:hover {
  color: rgba(255, 255, 255, .8);
}

footer a span {
  font-weight: bold;
  color: rgba(255, 255, 255, .3);
}
/* ****************************************************************************
ICONS
**************************************************************************** */
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 16px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* ****************************************************************************
LISTING FOR ARTICLES
**************************************************************************** */
.group list-group-image {
height: 657px;
}

.item.list-group-item /*  https://codepen.io/ajaypatelaj/pen/zIBjJ */
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .image
{
display: none;
height: 657px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}



/* ****************************************************************************
HERO AND WRAP (NOT NEEDED - ALREADY COVERED IN APP.SCSS)
**************************************************************************** */
.hero1 {
  background-color: #0f0f11;
   background-image: url("images/bookshelf image.jpg");       
  padding: 80px 0;
  height: 400px;
  
}

.hero1 h1,
.hero1 p {
  color: rgba(255, 255, 255, .8);
  width: 70%;
}

.wrap {

width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* ****************************************************************************
HERO - UG (NOT NEEDED - OLD STYLE HERO ALREADY COVERED IN APP.SCSS)
**************************************************************************** */
div.hero {
    
    background-color:#060360;
    background-color: #606eb2;
    color:#fff;
    border-color:#060360;
overflow: hidden;
}

div.hero img {
    width: 100%;
       margin-left: 0;


}

div.hero-text {
    background:#060360;
    color:#fff;
    background-color: inherit; border-left: none;
    margin: 0;
    width: 31%;
    left: 8%;
    padding: 0;
    bottom: 0;
 position: absolute;
 }
    
div.hero-text h1, div.hero-text h2 {
          padding: 36% 4% 10% 8%;
          display: block;
              line-height: 1.1em;
              letter-spacing: .25px;
              font-size: 48px;
              margin: 20px auto;
                  color: inherit;
    background-color: inherit;
   }



.hero-link {
    text-align:right;
    margin:15px
;     margin: 0;
    position: absolute;
    bottom: 7%;
    left: 9.7%;
    width: 25.3%;      }
    


.hero-link .btn-primary {
    position:relative;
    border-color:#fff!important;
    border-width:1px;
    border-style:solid;
    padding-left:40px;
    font-size:18px
    }



.hero-link .btn-primary:before {
    font-family: FontAwesome;
    content: "\f0a9";
    display: block;
    font-size: 1.5em;
    color: inherit;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* ****************************************************************************
GENERAL FORMATTING (NOT NEEDED - OLD STYLE HERO ALREADY COVERED IN APP.SCSS)
**************************************************************************** */

body {
    color: #c34646;
    background: #aba0a0;
    font-family: 'Work Sans',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px; b
}

h1 {
    color: blue;
}

.lead  {
  text-color: #8A2BE2;
}



# wrapper {
    background: #fff;
    width: 200px;
    margin: 0 auto;
}



.lead::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}


.jumbotron {
padding: 1.25rem;
text-align:center;
width:85%;
 margin: auto;
}

blockquote {
border:none;
font-family:Georgia, "Times New Roman", Times, serif;
margin-bottom:-30px;
width:85%;
}



blockquote h3 {
    font-size:21px;
width:85%;
}



blockquote h3:before { 
    content: open-quote;
    font-weight: bold;
    font-size:100px;
    color:#889c0b;
width:85%;
} 

blockquote h3:after { 
    content: close-quote;
    font-weight: bold;
    font-size:100px;
    color:#889c0b;
width:85%;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



td, th {
    border: 1px solid #141414;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: #dddddd;
}



span.glyphicon{
    font-size: 1.2em;
}

#navig{border:1px solid transparent;
}



#navig:hover{
  /*border:1px solid transparent;*/
  /*background-color: black;*/
  border-bottom-color: red;
  -webkit-transition: border-bottom-color 1s ease-out;
  -moz-transition: border-bottom-color 1s ease-out;
  -o-transition: border-bottom-color 1s ease-out;
  transition: border-bottom-color 1s ease-out;
color:yellow;
}

.pop-content {

	height: auto;

	width: 200px;

	background: #000;

	color: #fff;

	position: fixed;

	bottom: 60px;

	right: 20px;

	display: none;

}

.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
}