/* ****************************************************************************
LANDING PAGE NAV BOXES
**************************************************************************** */
.navbox {
    margin-bottom:1.5em
; 
    position: relative;   }



.navbox-title {
 
     position: absolute;
font-size: 24px;
font-weight: bold;
padding: 15px 15px;
bottom: 0;
text-shadow: 1px 1px 1px #444;
background: blue;
 opacity: 0.5;
background-repeat: repeat;
width: 100%;
}
 
 

.navbox-image img {
     width:100%
      }

.navbox-title:first-child {
    background: #00539b;
    position: relative;
    bottom: auto;
}

.navbox-title:before {
    content: '';
    float: right;
    height: 35px;
    top: 0;
    width: 30px;
}

.navbox-title a {
    color: white;
    margin-right: 4px;
    text-decoration: none;
}

.container {
    width: 970px;
}
/* ****************************************************************************
SECOND FOOTER
**************************************************************************** */
.form-banner {
    color: white;
    margin-bottom: 20px;
    padding: 30px;
}

.form-banner.sta-dkgreen {
    background-color: #044d48;
}
/* ****************************************************************************
PANELS FOR LIBRARY PAGE STRUCTURE
**************************************************************************** */
.panel-heading uppercase {
background-color: #044d48;
}
#book-list, #add-book, #tabbed-content{
    margin: 30px;
}

#book-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#book-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#book-list li:hover{
    border-color: #9361bf;
}

.delete{
    float: right;
    background: #9361bf;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete:hover{
    background: #333;
}

#add-book{
    width: 400px;
    margin: 0 auto;
}

#add-book input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
}

#add-book button{
    border: 1px solid #9361bf;
    background: #9361bf;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    float: left;
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-book:after{
    content: '';
    display: block;
    clear: both;
}

