.nav-desktop {
    display: none;
  
}
 

.card-img-top {
    display: none;
  
}


 span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  .booksnavbar a {
    float: none;
    display: block;
  }

.booksnavbar ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

.infobox {
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }

.product-feature-section-outer {
    max-width: 75%;
  }

  .product-feature-section-feature {
    padding: 2rem;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}