/* MOBILE FIRST DESIGN */

/* CSS Variables */

:root {
  --black: #242423;
--green: #3C6E71;
--white: #FFFFFF;
 --grey: #D9D9D9;
 --indigo: #284B63;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
  background-color: #D9D9D9;
}

h2, p {
  font-size:14px;
}

/* Apply colours to elements  e.g background-color: var(--yellow); */

/*HEADER*/
 
.header {
  height: 200px;
   padding: 20px;
 
   background-image: linear-gradient(to right, var(--indigo) , var(--grey));
  color: var(--white); 
  font-size: 30px;
  position: relative;
 
}

.header nav ul {
  display:none;
}

#myImage {
display:none;
                }
  
                #myImage1 {
                  display:none;
                }

                .txt-overlay {
display:none;
                }

                aside, .sidebar1, #sidebar2 {
                  display:none;
                }

                .calendar, .calendar * {
                  display:none
                }

/* BUTTONS */

.button {
  background-color: var(--green); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.hollow-button {
   border: 2px solid ;
    border-color: #e7e7e7;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-remove {
  background-color: var(--indigo); 
    color: var(--white); 
  text-align: center;
  }

  #btn-clear-cart {
    background-color: var(--grey); 
    color: var(--black);
  text-align: center;
  }

  .btn-purchase {
    background-color: var(--indigo);
    color: var(--white);
  }

  #btn-change-book {
    margin:5px;
  }

  #btn-checkout {
    margin:5px;
  }

  .btnBack {
    float:right;
  }

  #btn-confirm {
    margin:5px;
  }

  #btn-delivery {
    margin:5px;
  }

  #btnSlot {
    margin:5px;
  }

  #shopFavourites { /* button */
      margin:5px;
  }

  #favouritesList {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;
    grid-template-rows: 1fr;
  }

  .shop-item-button {
    position:absolute; 
    bottom: 8px; 
    right: 5px;
  }

  /* ICONS */

  #badge {
    background-color:var(--indigo); 
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 15px;
    position:absolute; 
    left:-70px;bottom:3px;
  }

  /* CALENDAR */

#calendar {
display: none;
}

/* SEARCH */
.sbox {
  background-color: var(--indigo); 
  color:#BABABA;
    padding: 15px;
    margin-bottom: 15px;
    height: 150px;
}

#search_box {
width: 6em;
height: 50px;
position:relative;
transition: all .3s;
}

#search_box:focus {
  width: 30em;
  background-color: #fff;
  border-color: #74abff;
  box-shadow: 0 0 10px rgba(109, 207, 246, .75);
}

.quick-search-title {
  text-align: center;
}



/* ALERTS */

#alertMsg {
  padding: 20px;
  background-color: var(--white);
  color: var(--green);
  display:none;
  opacity: 1;
  transition: opacity 0.6s;
}

#search-alert {
  padding: 20px;
  background-color: var(--white);
  color: var(--green);
  display:none;
  opacity: 1;
  transition: opacity 0.6s;
}

.shop-item {
  background-color: var(--white); 
  width:250px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--black); 
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-category {
  background-color:var(--indigo);
  color: var(--white);
  padding: 5px;
  position:absolute; 
  bottom: 130px; 
  right: 5px;
}

.shop-item-details > ul  {
  list-style-type: none;
}

.heart {
  position:absolute; 
  top: 8px; 
  right: 5px;
}
.heart > a {
  cursor:default;
  color:black;
}
.shop-item-image {
  width:250px;
}

.shop-item-category > ul > li {
  text-decoration:none;
}

.shop-item-price {
font-size:20px;
font-weight:400;
}

/* QUANTITY INCREMENTORS */
.minus a {
  cursor:default;
}

.fa-minus {
  background-color:var(--grey); 
  padding: 10px;
}

.prodQuantity {
  width:50px;
  margin:20px;
}
.plus a {
  cursor:default;
}

.fa-plus {
  background-color:var(--grey); 
  padding: 10px;
}

/* LARGE SHOPPING CART */

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: var(--black); 
}

.close-cart-icon {
  color: var(--white);
  cursor:default;
}

#pmtIcons {
    animation: shake 0.5s;
    animation-iteration-count: 20;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .store-pmt-icons-div {
    position:absolute; 
    bottom:8px; 
    right:15px;
  }

/* FORMS */
label {
  cursor:pointer;
}

input[type=text]:focus {
  border: 3px solid var(--indigo);
}

/* payment form */
#form-customer input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.frminp {
  margin:5px;
  text-align:left;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.del-instr {
  margin:5px; 
  text-align:left;
}

.pmt-buttons-div * {
  float:right;
}

.pmt-icons-div {
  float:right;
}

/* BOOK A DELIVERY PAGE DIV */

#deliveryWidth {
  background-color:var(--white);
  border:1px;
  padding:10px;
  margin:0 auto;
  border-radius:25px;
}

#deliveryWidth h1 {
  background-color:var(--grey); 
  padding:20px;
}

#tblBooking {
  width:100%;
}

#tblBooking td {
  width:33.33%;
}

#favColl {
 margin: 0 auto; 
  background-color:var(--white); 
 border:5px solid; 
 outline: var(--green) solid 10px;
}

/* YOUR ORDER - IN-PAGE CART */

#orderBox {
 background-color:var(--white);
 border:1px;
 padding:10px;
 margin:10px;
}

#orderBox h2 {
  background-color:var(--grey); 
  padding:20px;
}

/* Links inside the dropdown */
#cartcontent {
   color: black;
    text-decoration: none;
  display: block;
  text-align: left;
  margin: 20px 0;
  float: right;
  background-color: var(--white); 
    max-width:750px;
    position:absolute; right:8px;bottom:1px;
  border-radius: 3px;
  padding: 20px;
  z-index: 1;
}

#book-check {
  float:right;
}

footer { 
  padding: 20px;
}



 /*filters panel hidden in mobile view*/

 .shop-filters { 
  display: none;
}
.shop-filters-title {
  text-align: center;
  color: var(--white);
  }
  
  .shop-filters-sub-title {
    color:#E8E8E8;
  }
  
  .shop-filters-label {
   text-align: center;
   color: var(--white);
  }

  /* MEDIA QUERIES */

  @media(min-width: 768px) {
    h1 {
      font-size: 40px;
    }
    
    h2 {
      font-size: 30px;
    }
    
    p {
      font-size: 14px;
    }
    .header {
      text-align: center;
    }

    .section-title {
      text-align:center;
    }
    
    .section-sub-title {
      text-align:center;
      text-overflow:none;
    }

    /* navigation - positioned to the top of the header */

.header nav ul {
  display:block;
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--black); 
}

.header nav li {
  float: left;
}

.header nav li a {
  display: block;
  color: var(--white); ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header nav li a:hover {
  background-color: var(--black); ;
}

.nav-title {
  color:white;
}

.dropdown ul li {
 float: right; 
 position:relative"
}

/* PROMO IMAGES */
.promo-img-div {
  margin:25px; 
    height:250px; 
 }

 #myImage {
  height:250px;
  width:450px;
                }
  
                #myImage1 {
                 height:250px;
  width:450px;
  
                }

#myImage1:hover {
  opacity: 1.0;
 }

 .promo-image-blur {
  padding:20px;
opacity: 0.5;
}

 .txt-overlay {
  color: white; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
 }
  .calendar {
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: var(--white); ;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
   position: fixed;
    bottom: 0;
    right: 0; z-index: 1;
  }

.calendar * { /*inner elements */
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.calendar .month {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: var(--white); ;
  background-color: var(--indigo); ;
  border-bottom: 1px dashed var(--indigo); ;
  box-shadow: 0 2px 0 var(--indigo); 
}

.calendar .time {
  position: absolute;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: var(--black); 
}

#orderCol {
  margin: 50px;
               
 }

footer .frmfooter {
  background-color:var(--green);
  padding: 20px;
}

footer .social {
  background-color:var(--indigo);
  padding: 20px;
}
 

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
